* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #c7e2f1;
}

a {
    color: white;
    transition: .5s ease all;
}
a:hover {
    color: aquamarine;
    transition: .5s ease all;
}

.card-container {
    width: 85%;
    max-width: 35rem;
    background-color: antiquewhite;
    margin: 2.5rem auto;
    border-radius: 8px
}

.name-container {
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    padding: 50px 25px;
}
#img-container {
    width: 7rem;
    height: 7rem;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    display: inline-block;
}
#portrait {
    max-height: 100%;
    margin-left: -1.9rem;
}

h2 {
    margin: 20px;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: normal;
    color: #383838;
}

.name-container > p {
    font-family: sans-serif;
    font-size: 1.2rem;
    color: #00000085;
    font-weight: normal;
}


.section {
    padding: 35px 30px;
}

.about-section {
    background-color: #4399fe;
}

.work-section {
    background-color: #2982ee;
}

.contact-section {
    background-color: #2374d6;
}

.section-title {
    border-bottom: 1px solid rgb(143, 181, 252);
    padding-bottom: 25px;
    color: white;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1rem
}

.body-text {
    color: #ffffffD4;
    font-family: sans-serif;
    font-size: .9rem;
    font-weight: lighter;
    padding-top: 20px;
    line-height: 2;
}

/* Work UL */

.work-section ul {
    list-style-type: none;
}

.work-section ul > li::before {
    content: "✅";
}

.work-section li > p {
    display: inline-block;
    padding-left: 10px;
}

.work-section ul > li {
    margin-top: 10px;
}

.work-section ul > li:first-child {
    margin-top: 0;
}

/* Contact UL */

.contact-section ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: -10px;
}

.contact-section li {
    display: inline-block;
    margin: 8px;
}







/* End Contact UL */

.contact-section {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Media Queries */

@media screen and ( min-width: 735px ) {
    html {
        font-size: .9rem;
    }

    .card-container {
        margin: 4rem auto;
    }

    .name-container {
        padding: 3.75rem 2rem;
    }

    .section {
        display: flex;
        justify-content: flex-end;
        padding: 3.75rem 2rem;
    }

    .section-title {
        border-bottom: none;
        border-right: 1px solid rgb(143, 181, 252);
        padding-right: 3rem;
    }

    .body-text {
        width: 18rem;
        padding-top: 0;
        padding-left: 3rem;
    }

    .contact-section li {
        margin: 10px 5px;
    }
}   

@media screen and ( min-width: 980px ) {
    html {
        font-size: 1rem;
    }
} 

@media screen and ( min-width: 1680px ) {
    html {
        font-size: 1.5rem;
    }
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.section2 div {
    width: 100%;
}

.nav-container {
    position: relative;
    display: inline-block;
    max-width: 50px;
    max-height: 50px;
    overflow: visible;
    outline: none;
}
.nav-container.is-active .nav-toggle:before, .nav-container.is-active .nav-toggle:after {
    box-shadow: none;
}
.nav-container.is-active .nav-toggle:before {
    transform: rotate(-45deg);
}
.nav-container.is-active .nav-toggle:after {
    transform: rotate(45deg);
}
.nav-container.is-active .nav-items {
    transform: translate(0, 0);
}
.nav-container .nav-toggle {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 10px;
    z-index: 2;
}
.nav-container .nav-toggle:hover {
    cursor: pointer;
}
.nav-container .nav-toggle:before, .nav-container .nav-toggle:after {
    content: "";
    position: absolute;
    top: 18px;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
    height: 4px;
    background: red;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.nav-container .nav-toggle:before {
    box-shadow: 0 13.3333333333px 0 0 red;
}
.nav-container .nav-toggle:after {
    box-shadow: 0 -13.3333333333px 0 0 red;
}
.nav-container .nav-items {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 300px;
    max-width: 50vw;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding: 80px 20px 20px 10px;
    transition: transform 0.3s ease;
    transform: translate(calc(-100% - 50px), 0);
    background: #efefef;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px 0;
    align-content: start;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}
.nav-container .nav-items .nav-item {
    background: #e2e2e2;
    padding: 10px;
    transition: background-color 0.3s ease;
}
.nav-container .nav-items .nav-item:hover {
    cursor: pointer;
    background: #d6d6d6;
}




.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #263238;
    text-align: center;
    color: #f4f4f4;
}

.icons{
    padding-top: 1rem;
}

.icons a{
    text-decoration: none;
    font-size: 2rem;
    margin: 0.5rem;
    color: #f4f4f4;
}

.company-name{
    font-size: 1.6rem;
    margin-top: 0.5rem;
}




.rs-img {
    width: 10%;
}